.quiz_background {
    position: relative;
    height: 94vh;
    width: 195vh;
    background-color: rgb(161, 114, 78);
    border-style: solid;
    border-width: 5px;
    border-color:rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

.quizstartbutton {
    background-color: white;
    position: absolute;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    height: 10vh;
    width: 40vh;
    left:40%;
    top:40%;
    margin: auto;
}
.startbuttontext{
    color:black;
    text-align: center;
    font-size: 20px;
    padding-top: 18px;
}